@-webkit-keyframes antSpinMove {
  to {
    opacity: 1;
  }
}
@keyframes antSpinMove {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes antRotate {
  to {
    transform: rotate(405deg);
  }
}
@keyframes antRotate {
  to {
    transform: rotate(405deg);
  }
}
.global-home-loading {
  height: 100vh;
  width: 100vw;
  /* background-image: url(../images/default-back-svg.svg); */
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.global-home-loading .ant-spin {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  color: #006bfd;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.global-home-loading .ant-spin-spinning {
  display: inline-block;
  opacity: 1;
}
.global-home-loading .ant-spin-dot {
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: 1.8em;
  height: 1.8em;
}
.global-home-loading .ant-spin-dot-item {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #006bfd;
  border-radius: 100%;
  transform: scale(0.75);
  transform-origin: 50% 50%;
  opacity: 0.3;
  -webkit-animation: antSpinMove 1s infinite linear alternate;
  animation: antSpinMove 1s infinite linear alternate;
}
.global-home-loading .ant-spin-dot-item:nth-child(1) {
  top: 0;
  left: 0;
}
.global-home-loading .ant-spin-dot-item:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.global-home-loading .ant-spin-dot-item:nth-child(3) {
  right: 0;
  bottom: 0;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.global-home-loading .ant-spin-dot-item:nth-child(4) {
  bottom: 0;
  left: 0;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.global-home-loading .ant-spin-dot-spin {
  transform: rotate(45deg);
  -webkit-animation: antRotate 1.2s infinite linear;
  animation: antRotate 1.2s infinite linear;
}

.global-home-loading .ant-spin-text {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #006bfd;
  margin-top: 16px;
  opacity: 0.5;
  animation: antSpinMove 1s infinite linear alternate;
  font-family: 'Courier New', Courier, monospace !important;
}
