.workbench-container {
  height: 100%;
  position: relative;
  .go-back {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
  }
  .ant-spin-nested-loading {
    height: 100%;
    .ant-spin-container {
      height: 100%;
    }
  }

  .map {
    position: relative;
    height: 100%;
    width: 100%;
    .go-back {
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;
    }
  }
}
